<!-- <div class="slider-container">
    <button class="prev-button" (click)="prevSlide()">&#10094;</button>
    
    <div class="slider-wrapper">
      <div class="slider-content" [ngStyle]="{'transform': 'translateX(-' + currentIndex * 20 + '%)'}">
        <div class="slider-item" *ngFor="let group of groups">
          <app-group-item [group]="group"></app-group-item>
        </div>
      </div>
    </div>
  
    <button class="next-button" (click)="nextSlide()">&#10095;</button>
  </div>
   -->

   <div class="slider-container">
    <button class="prev-button" (click)="prevSlide()">&#10094;</button>
    
    <div class="slider-wrapper">
      <div class="slider-content" [ngStyle]="{'transform': 'translateX(-' + (currentIndex * 20) + '%)'}">
        <div class="slider-item" *ngFor="let group of groups">
          <app-group-item [group]="group"></app-group-item>
          <!-- <div class="group-item">
  
            <div class="group-image-container">
              <a style="cursor: pointer;">
                <img src="../../../../assets/images/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg" 
                [alt]="group.name" class="group-image" />
              </a>
            </div>
            <div class="group-info">
              <h4 class="group-name">{{ group.name }}</h4>
            </div>
          </div> -->
        </div>
      </div>  
    </div>
  
    <button class="next-button" (click)="nextSlide()">&#10095;</button>
  </div>
  
  