{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
    <h1>Welcome to Your Recipe Dashboard</h1>
</div>

<div class="recipe-list">
    <h2>Your Recipes</h2>
    {% for recipe in user_recipes %}
    <div class="recipe-card">
        <h3>{{ recipe.recipe }}</h3>
        {% if recipe.image_path %}
        <img src="{{ url_for('static', filename=recipe.image_path) }}" alt="{{ recipe.recipe }}" style="width: 200px;">
        {% endif %}
        <p>{{ recipe.ingredients }}</p>
        <p>{{ recipe.instructions }}</p>
        <a href="{{ url_for('views.edit_recipe', recipe_id=recipe.id) }}">Edit</a>
        <form action="{{ url_for('views.delete_recipe', recipe_id=recipe.id) }}" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
    {% endfor %}
</div>

<div class="recipe-list">
    <h2>Public Recipes</h2>
    {% for recipe in public_recipes %}
    <div class="recipe-card">
        <h3>{{ recipe.recipe }}</h3>
        {% if recipe.image_path %}
        <!-- <img src="{{ url_for('static', filename=recipe.image_path) }}" alt="{{ recipe.recipe }}" style="width: 200px;"> -->
        <img src="{{ url_for('static', filename=recipe.image_path) }}" alt="{{ recipe.recipe }}">
        {% endif %}
        <p>{{ recipe.ingredients }}</p>
        <p>{{ recipe.instructions }}</p>
        <p>Shared by: {{ recipe.user.username }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}