/* .container {
    max-width: 800px;
  } */
  
  .card {
    border: none;
    border-radius: 15px;
  }
  
  .card-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
  }
  
  .text-muted {
    font-size: 1rem;
  }
  
  .img-fluid {
    max-height: 200px;
    object-fit: cover;
  }
  
  .group-actions .btn {
    font-size: 0.9rem;
  }
  
  hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  