.form-group {
    margin-bottom: 15px;
  }
  
  .ingredient-item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
  }
  
  button {
    cursor: pointer;
  }
  
  button[type='button'] {
    margin-right: 10px;
  }
  
  .ingredient-item input {
    width: 45%;
  }
  
  textarea {
    resize: vertical;
  }
  
  .form-check {
    margin-top: 20px;
  }
  